/* CSS declarations go here */
/* CSS declarations go here */

body {
    font-family: sans-serif;
    background-color: #315481;
    background-image: linear-gradient(to bottom, #315481, #38bba2 87%);
    background-attachment: fixed;
    /*position: center;*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    font-size: 14px;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    min-height: 100%;
    background: white;
}

header {
    background: #d2edf4;
    background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
    padding: 20px 15px 15px 15px;
    position: relative;
    text-align: center;
}

#login-buttons {
    display: block;
}

h1 {
    text-align: center;
    color: rgba(56, 187, 162, 0.87);
    font-size: 4em;
    /*position: static;*/
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
}
h2 {
    text-align: center;
    color: rgba(56, 187, 162, 0.87);
    font-size: 3em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    /*margin-right: 1em;*/
}

/*Selection box List color!*/
ul {
    text-align: center;
    /*position: relative;*/
    margin: 0;
    padding: 0;
    background: rgba(56, 187, 162, 0.87);
}

/*Selection box!*/
header {
    background: #d2edf4;
    background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
    padding: 20px 15px 15px 15px;
    position: relative;
}


li {
    text-align: center;
    font-size: 1em;
    /*position: relative;*/
    list-style: none;
    padding: 15px;
    color: rgb(255, 255, 255);
    border-bottom: #eee solid 5px;
    border-left: #eee solid 5px;
    border-right: #eee solid 5px;
}

button {
  text-align: center;
  font-size: 2em;
  /*position: relative;*/
  list-style: none;
  padding: 40px;
  color: rgb(255, 255, 255);
  border-bottom: #eee solid 5px;
  border-left: #eee solid 5px;
  border-right: #eee solid 5px;
}

/*li .text {
    margin-left: 10px;

    position: relative;
}
/*
li.checked {
    color: #888;
}*/

/*li.checked .text {
    text-decoration: line-through;
}

li.private {
    background: #eee;
    border-color: #ddd;
}*/

/*header .hide-completed {
    float: center;
}

.toggle-private {
    margin-left: 5px;
}*/

/*@media (max-width: 600px) {
    li {
        padding: 12px 15px;
    }

    .search {
        width: 150px;
        clear: both;
    }

    .new-task input {
        padding-bottom: 5px;
    }
}*/

/*.map-container {
    width: 600px;
    max-width: 100%;
    height: 400px;
}

.user-info-form{
    height: 600px;
    background-color: #e2d562;
}*/

/*.section-header{
    position: center;
    text-align: center;
}*/

/*form {
    margin-top: 10px;
    margin-bottom: -10px;
    position: relative;
}*/

/*.new-task input {
    box-sizing: border-box;
    padding: 10px 0;
    background: transparent;
    border: none;
    width: 100%;
    padding-right: 80px;
    font-size: 1em;
}*/

/*.new-task input:focus{
    outline: 0;
}*/

/*.delete {
    float: right;
    font-weight: bold;
    background: none;
    font-size: 1em;
    border: none;
    position: relative;
}*/
