/* CSS declarations go here */
/* CSS declarations go here */
header {
    background: #d2edf4;
    background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
    padding: 20px 15px 15px 15px;
    position: relative;
}

body {
    font-family: sans-serif;
    background-color: #315481;
    background-image: linear-gradient(to bottom, #315481, #38bba2 87%);
    background-attachment: fixed;
    /*position: center;*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    font-size: 14px;
    text-align: center;
}

#login-buttons {
    display: block;
}

h1 {
    text-align: center;
    color: rgba(56, 187, 162, 0.87);
    text-shadow: 2px 2px #ced3d4;
    font-size: 3em;
    /*position: static;*/
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
}
h2 {
    text-align: center;
    text-shadow: 2px 2px #32535b;
    color: rgba(56, 187, 162, 0.87);
    font-size: 3em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    /*margin-right: 1em;*/
}

/*Selection box List color!*/
/*Selection box!*/

ul {
    text-align: center;
    /*position: relative;*/
    text-shadow: 4px 4px #32535b;
    margin: 0;
    padding: 0;
    background: rgba(56, 187, 162, 0.87);
}


li {
    text-align: center;
    font-size: 1em;
    text-shadow: 2px 2px #32535b;
    /*position: relative;*/
    list-style: none;
    padding: 15px;
    color: rgb(255, 255, 255);
    border-bottom: #eee solid 3px;
    border-left: #eee solid 3px;
    border-right: #eee solid 3px;
}

.container {
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
    min-height: 100%;
    background: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.containerSBS {
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
    min-height: 100%;
    background: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button {
  text-align: center;
  font-size: 2em;
  text-shadow: 2px 2px #32535b;
  /*position: relative;*/
  list-style: none;
  padding: 40px;
  color: rgb(255, 255, 255);
  border-bottom: #eee solid 5px;
  border-left: #eee solid 5px;
  border-right: #eee solid 5px;
}

 /* Main page (home) buttons contained in .container */
.buttonContainer1 {
      border-radius: 8px;
      min-width: 600px;
      margin: 0 auto;
      min-height: 80%;
      background: rgba(56, 187, 162, 0.87);
      border: 3px solid #1d8ecd;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.buttonContainer1:hover {
  background-color: #FFFFFF;
  color: #1d8ecd;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttonContainer2 {
      border-radius: 8px;
      min-width: 250px;
      /*margin: 0 auto;*/
      text-align: center;
      max-height:110px;
      background: #1d8ecd;
      border: 3px solid #ffffff;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.buttonContainer2:hover {
  background-color: rgba(56, 187, 162, 0.87);
  color: #1d8ecd;
  border: 3px solid #1d8ecd;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


/*HELPER FOR DISPLAYING IMAGES RGBANLAYSE*/

#images div {
  min-height: 550px;
}
#images div .demo {
  display: inline-block;
  vertical-align: top;
  margin: 1em;
}
#images div div {
  display: inline-block;
  padding-top: 1em;
  height: 0;
  overflow: visible;
  min-height: 0;
}
#images div div h2 {
  margin: 0;
  font-family: helvetica;
  font-size: 100%;
  font-variant: small-caps;
}
#images div div img {
  margin: 0;
  display: block;
}
#images div div img.histogram.visualisation {
  width: 200px;
  height: 200px;
  background: white;
  border: 1px solid black;
}
#images div div img.spectral.histogram.visualisation {
  width: 200px;
  height: 120px;
  background: black;
  border: 1px solid black;
}
#images div div img.spectogram.visualisation {
  width: 200px;
  height: 20px;
  background: white;
  border: 1px solid black;
}
#images div div hr {
  margin: 0;
  border: 1px solid black;
  width: 200px;
  height: 10px;
}
#images div div hr + hr {
  margin-top: 1px;
}
dl {
  font-family: arial;
  margin-left: 2em;
}
dl dt {
  font-weight: bold;
  font-size: 80%;
}
dl dd {
  position: relative;
  top: -1em;
  margin-left: 12em;
  margin-bottom: -1em;
}
.download {
  background: #DDD;
}
a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: rgb(20,70,225);
}
a:hover {
  text-decoration: underline;
}
